<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
{#
users uid, names, email, password, role
borrowers bid, names, email, phone
books book_id, title, author, category, book_number
transactions tid, bid, date_borrowed, date_returned, expected_return_date, status
charges cid, date_charged, amount, status
#}
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/form"><img src="../static/img/lib.jpeg" class="rounded-circle float-left"
                                                  height="100" width="100" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-Responsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/form">Add User</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/borrow">Add Borrower</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books">Add Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/issue">Issue Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/show_users">Show User</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/show_boro">Show Borrowers</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/show_books">Show Books</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


{% block content %}

{% endblock %}
</body>
</html>