{% extends 'Base.html' %}

{% block content %}
    {# users uid, names, email, password, role
    # borrowers bid, names, email, phone
    # books book_id, title, author, category, book_number
    # transactions tid, bid, date_borrowed, date_returned, expected_return_date, status
    # charges cid, date_charged, amount, status#}

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <p class="text-info text-center">{{ message }}</p>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Register-To-Borrow</h3>
                    </div>
                    <div class="card-body">

                        <form method="post" action="/borrow">
                            <div class="form-group">
                                <label for="exampleInputname">Name</label>
                                <input type="name" name="name" class="form-control" id="exampleInputname"
                                       aria-describedby="nameHelp" placeholder="Enter name">
                                <small id="nameHelp" class="form-text text-muted">We'll never share your name with
                                    anyone
                                    else.
                                </small>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.
                                </small>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputPhone">Phone</label>
                                <input type="phone" name="phone" class="form-control" id="exampleInputPhone"
                                       aria-describedby="PhoneHelp" placeholder="Enter Phone">
                                <small id="phoneHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.
                                </small>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary btn-block btn-sm">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}