

<body>
<h2 align="center">ERROR 404</h2>

<div class="row justify-content-center">
    <div class="error_404" align="center"><img class="img_error" src="../static/img/error404.jpg" alt="error"></div>
</div>
</body>
{#	<img src="../static/img/w3newbie.png" alt="newbie" align="top">#}
<!--- Footer -->
{#<footer>#}
{#	<div class="container-fluid padding">#}
{#		<div class="row text-center">#}
{#			<div class="col-md-4">#}
{#				<!--<hr class="light">-->#}
{#				<img src="../static/img/w3newbie.png" alt="newbie">#}
{#				<hr class="light">#}
{#                 <p>555-555-555</p>#}
{#				<p>Earvinbaraka@gmail.com</p>#}
{#				<p>5791 embakasi</p>#}
{#				<p>City, Nairobi, 00100</p>#}
{##}
{##}
{#			</div>#}
{#			<div class="col-md-4">#}
{#				<hr class="light">#}
{#				<h5>Our Hours</h5>#}
{#				<hr class="light">#}
{#				<p>Monday: 9am - 5am</p>#}
{#				<p>Saturday: 10am - 4pm</p>#}
{#				<p>Sunday - Closed!</p>#}
{#			</div>#}
{#			<div class="col-md-4">#}
{#				<hr class="light">#}
{#				<h5>Service Area</h5>#}
{#				<hr class="light">#}
{#				<p>City, Nairobi, 00100</p>#}
{#				<p>City, Nairobi, 00100</p>#}
{#				<p>City, Nairobi, 00100</p>#}
{#				<p>City, Nairobi, 00100</p>#}
{#</div>#}
{#			<div class="col-md-12">#}
{#				<hr class="light">#}
{#				<h5>&copy; w3newbie.com</h5>#}
{#			</div>#}
{#</div>#}
{#</div>#}
{#</footer>#}













