{% extends 'Base.html' %}

{% block content %}

    <div class="container">

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Book Title</th>
                <th>Book Number</th>
                <th>Date Borrowed</th>
                <th>Expected Return Date</th>
                <th>Return</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[6] }}</td>
                    <td>{{ transaction[7] }}</td>
                    <td>{{ transaction[3] }}</td>
                    <td>{{ transaction[4] }}</td>
                    <td><a href="/returned/{{ transaction[2] }}" class="btn btn-primary">Return</a></td>

                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}