{% extends 'Base.html' %}

{% block extras %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock %}

{% block content %}


    <div class="container">

        <table class="table" id="example">
        <thead>
        <tr>
                <th>Name</th>
                <th>Book Title</th>
                <th>Book Number</th>
                <th>Date Borrowed</th>
                <th>Expected Return Date</th>
                <th>Return</th>
            </tr>
        </thead>
           <tbody>
           {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[6] }}</td>
                    <td>{{ transaction[7] }}</td>
                    <td>{{ transaction[3] }}</td>
                    <td>{{ transaction[5] }}</td>
                    <td><a href="/returned/{{ transaction[2] }}" class="btn btn-primary">Return</a></td>

                </tr>
            {% endfor %}

           </tbody>

        </table>
    </div>

  <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>

{% endblock %}